.table td {
    vertical-align: middle;
}

[v-cloak] {
    display: none;
}

.all-players-list .list-group-item:first-child {
    border-top-width: 0;
    border-radius: 0;
}

.all-players-list {
    max-height: 400px;
    overflow-y: auto;
}


.remove-buy-in,
.add-buy-in {
    width: 30px;
    height: 30px;
    padding: 0;
    position: relative;
}

.remove-buy-in:after,
.add-buy-in:after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #6c757d;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
}

.add-buy-in:before {
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    background: #6c757d;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 1px);
}

.remove-buy-in:hover:after,
.add-buy-in:hover:before,
.add-buy-in:hover:after {
    background: white;
}

.buy-ins, .player-result {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
}

.player-result {
    width: 50px;
}

.player-result input {
    height: 35px;
    padding: 2px 5px;
    border-radius: 0;
    font-weight: bold;
}

td.player-result-cell {
    padding: 0 0.75rem;
}

.icon-button {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
}

.icon-button.btn-sm .material-icons {
    font-size: 16px;
}

.pvtColLabel {
    writing-mode: vertical-lr;
}

.pivot {
    overflow: auto;
}

.pivot table {
    margin: auto;
}

.pivot table td {
    font-weight: bold;
}

.pvtUi {
    margin: auto;
}
.pivot-chart .pvtRendererArea {
    margin: 0;
    padding: 0;
}

.modebar {
    display: none;
}
