extends layout.jade

block content
    .container
        .row
            .col
                .card
                    h5.card-header Créer une session
                    .card-body
                       include forms/session-form.jade